:root {
  --background-color-10: #0d1117;
  --background-color-20: #161b22;
  --background-color-30: #484f58;
  --border-color: #30363d;
  --color-scale-white: #f0f6fc;
  font-family: 'Zen Loop', cursive;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-block: 0;
  margin-inline: 0;
  background: var(--background-color-10);
  color: var(--color-scale-white);
}

.wrapper {
  max-inline-size: 950px;
  margin: auto;
}

main {
  width: auto;
}

nav a {
  color: var(--color-scale-white);
  text-decoration: none;
  font-weight: 400;
}

header {
  margin-block-start: 20px;
}

.header-content {
  position: relative;
  font-size: 20px;
  padding-inline-start: 20px;
}

.header {
  position: relative;
}

nav ul li {
  list-style-type: none;
  margin-block-end: 16px;
}

h1 {
  margin-block-start: 20px;
  margin-block-end: 15px;
  font-size: 50px;
}

.header-image {
  max-inline-size: 100%;
}

.header-image img {
  width: 100%;
  height: auto;
}

summary {
  list-style: none;
  cursor: pointer;
}

.debug {
  box-shadow: 0 0 0 1px red;
}

.main {
  padding-inline: 20px;
}

.main-content h1 {
  position: sticky;
  inset-block-start: 0;
  background: var(--background-color-10);
  z-index: 150;
}

.main-content p {
  font-size: 26px;
  text-align: justify;
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.footer p {
  text-align: center;
}

.images-content p {
  text-align: center;
  margin-block-start: 40px;
}

.images-content p a {
  text-decoration: none;
  color: var(--color-scale-white);
  font-size: 24px;
}

.images-content p a:hover {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

.images-container ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.images-container li {
  list-style: none;
  height: 30vh;
  flex-grow: 1;
}

.images-container li:last-child {
  flex-grow: 5;
}

.images-container img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: top;
}

@media (max-aspect-ratio: 1/1) {
  .images-container li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .images-container li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .images-container ul {
    flex-direction: row;
  }
  .images-container li {
    height: auto;
    width: 100%;
  }
  .images-container img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

.item-image a {
  border: 1px solid yellow;
  position: relative;
  display: inline;
}

.item-image:hover {
  box-shadow: 5px 5px 15px 5px var(--border-color);
}

footer {
  margin-block-start: 60px;
  margin-block-end: 10px;
}

a:hover {
  color: white;
  font-weight: 900;
  font-size: 110%;
}

@media screen and (min-width: 755px) {
  .item-image {
    width: 49.1%;
    height: auto;
    display: inline-flex;
  }
}

@media screen and (min-width: 855px) {
  .item-image {
    width: 33.1%;
    height: auto;
    display: inline-flex;
  }
}

@media screen and (min-width: 1055px) {
  header {
    border: none;
    margin-block-start: 20px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -200px;
    inline-size: 188px;
  }
  .header-content {
    text-align: left;
    position: relative;
    font-size: 20px;
    padding-inline-start: 20px;
  }
  .header {
    position: sticky;
    inset-block-start: 20px;
  }
  .wrapper {
    max-inline-size: 650px;
  }
}

@media screen and (min-width: 1155px) {
  .wrapper {
    max-inline-size: 750px;
  }
}

@media screen and (min-width: 1255px) {
  .wrapper {
    max-inline-size: 850px;
  }
}

@media screen and (min-width: 1355px) {
  header {
    border: none;
    margin-block-start: 20px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -200px;
    inline-size: 188px;
  }
  .header-content {
    position: relative;
    font-size: 20px;
    padding-inline-start: 20px;
  }
  .header {
    position: sticky;
    inset-block-start: 20px;
  }
  .wrapper {
    max-inline-size: 900px;
  }
}